{% extends "template.twig" %}

{% block title %}Scenario - List{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="col-sm-offset-1 col-sm-10">
        <nav>
            <a href="{{ path('scenario_create') }}" class="btn btn-default">New</a>
        </nav>

        {% if elements is not empty %}
        <ul class="list-group">
            {% for scenario in elements %}
            <li class="list-group-item">
                {{ scenario.name }}
                <span class="tools pull-right">
                    <a href="{{ path('scenario_edit', { scenarioId : scenario.id }) }}">
                        <span class="glyphicon glyphicon-pencil" title="edit"></span>
                    </a>
                </span>
            </li>
            {% endfor %}
        </ul>

        {% include 'parts/pagination.twig' with {'route': 'scenario_list'} %}

        {% else %}
        <p>No scenario here.</p>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}
