{% extends "template.twig" %}

{% block title %}Index{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <ul class="list-group">
        <li class="list-group-item"><a href="{{ path('user_list') }}">Users</a></li>
        <li class="list-group-item"><a href="{{ path('scenario_list') }}">Scenarios</a></li>
        <li class="list-group-item"><a href="{{ path('session_list') }}">Sessions</a></li>
    </ul>
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}
