{% extends "template.twig" %}

{% block title %}Observer{% endblock %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% if session.results|length < session.numberOfSequences %}
    <form>
        <input type="button" id="start" value="start" style="display:none" />
    </form>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Position</th>
                <th>Preview</th>
                <th>Init</th>
                <th>Main</th>
                <th>Result</th>
                <th>Time (ms)</th>
            </tr>
        </thead>
        <tbody id="sequences">
        {% for result in session.results %}
            <tr id="result_{{ loop.index }}">
                <td>{{ loop.index }}</td>
                <td>{{ result.position }}</td>
                <td>{{ result.previewOrientation }}</td>
                <td>{{ result.initiationOrientation }}</td>
                <td>{{ result.mainOrientation }}</td>
                <td class="result">{{ result.answerOrientation }}</td>
                <td class="time">{{ result.duration }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if session.results|length < session.numberOfSequences %}
    <script>
        var sequenceNumber;
        var sequenceLine;
        var answerReceived = false;
        var sequenceTable = document.getElementById('sequences');
        var startButton = document.getElementById('start');

        var conn = new WebSocket('wss://{{ webSocketHost }}/socket/{{ session.id }}/observer?jwt={{ app.user.jwt }}');
        conn.onclose = function() { console.log('close'); };
        conn.onerror = function() { console.log('error'); };

        conn.onopen = function () {
            console.log('open');
            sequenceNumber = {{ session.results|length }};
        };

        conn.onmessage = function(e) {
            var message = JSON.parse(e.data);

            console.log(message);

            switch (message.type) {
                case 'session.ready':
                    answerReceived = false;

                    startButton.style.display = 'inline';
                    startButton.onclick = function () {
                        conn.send(JSON.stringify({
                            type: 'session.start'
                        }));
                    };
                    break;
                case 'session.sequence':
                    answerReceived = false;

                    startButton.style.display = 'none';
                    sequenceNumber++;

                    sequenceLine = document.createElement('tr');
                    sequenceLine.id = 'result_'+sequenceNumber;
                    sequenceLine.innerHTML  = '<td>'+sequenceNumber+'</td>';
                    sequenceLine.innerHTML += '<td>'+message.position+'</td>';
                    sequenceLine.innerHTML += '<td>'+message.previewOrientation+'</td>';
                    sequenceLine.innerHTML += '<td>'+message.initiationOrientation+'</td>';
                    sequenceLine.innerHTML += '<td>'+message.mainOrientation+'</td>';
                    sequenceLine.innerHTML += '<td class="result"></td>';
                    sequenceLine.innerHTML += '<td class="time"></td>';
                    sequenceTable.appendChild(sequenceLine);
                    break;
                case 'session.result':
                    answerReceived = true;

                    sequenceLine.getElementsByClassName('result')[0].innerHTML = message.orientation;
                    sequenceLine.getElementsByClassName('time')[0].innerHTML = message.endingTime-message.startingTime;
                    break;
                case 'session.ended':
                    if (answerReceived === false) {
                        sequenceTable.removeChild(sequenceTable.lastChild);
                        sequenceNumber--;
                    }

                    answerReceived = false;
                    break;
            }
        };
    </script>
    {% endif %}
{% endblock %}
